* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #dbd2c3;
  color: #222;
  line-height: 30px;
}

header {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #b4a68f;
  margin-bottom: 15px;
}

header h1 {
  color: #0d0d0d;
  margin-bottom: 5px;
}

header p {
  color: #887d69;
  font-weight: bold;
}

nav {
  background-color: #b4a68f;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  width: 100%;
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 20px;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: black;
}

main {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

section {
  margin-bottom: 50px;
}

h2 {
  color: black;
  margin-bottom: 20px;
  border-bottom: 2px solid #b4a68f;
  padding-bottom: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #b4a68f;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

#html_ss{
  width: 100%;      
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  font-size: 1rem;
  border: 2px solid #b4a68f;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border-color: #b4a68f;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 184, 148, 0.3);
}

button {
  padding: 12px;
  border: none;
  background-color: #b4a68f;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #b4a68f;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #b4a68f;
  border-radius: 10px;
  margin-top: 30px;
}
